# Byte-compiled / optimized
__pycache__
*.py[c,o]

# Editors temp-files
*~

# Distribution / packaging
env/

# Django stuff:
migrations/
south_migrations/
logs/
*.log*
CACHE/
static/
static
media/
whoosh/
MAIN_*
_MAIN_*
*.db
*.orig
*.back
*.tar
*.tgz
*.swp
settings.py
local_settings.py
manage.py
wsgi.py
script.sh
