*.py[c,o]
*~
*.db
__pycache__
migration
env
logs
django_request.log*
http-access.log*
http-error.log*
mylog.log*
CACHE
static
static.BeforeFirstCollectStatic
media
whoosh
MAIN_*
_MAIN_*
*.orig
*.back
settings.py
manage.py
wsgi.py
