<div>
    <div>
        {{ weather_info.name }},
        {% now "j E Y H:m" %}
    </div>
    <div>
        {{ weather_info.main.temp | floatformat:"0"}}°c
        {{ weather_info.weather.0.main }}
        ({{ weather_info.weather.0.description }})
    </div>
    <div>
        {{ "Ветер" }}
        {{ weather_info.wind.speed }}
        {{ "м/с" }}
        {{ weather_info.wind.direction }}
    </div>
    <div>
        {{ "Влажность" }}
        {{ weather_info.main.humidity }}%
    </div>
</div>

