#container {
    min-height:100%;
}

.content {
    min-height: 600px;
}

.footer {
  bottom:0;
  width:100%;
  height:30px;   /* Height of the footer */
  background:#e7e7e7;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 15px;
  border-radius: 5px;
}

.jumbotron {
  padding: 10px;
}

.column {
   padding-left: 10px;
}

.entry-header {
  padding-bottom: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.entry-title {
  margin-bottom: 2px;
}

.entry-info {
  font-size: 40%;
  margin: 0px 0px;
}

.well {
   padding: 1px 19px;
   font-size: 80%;
}

.entry-tags {
  margin: 0 0 2px;
}

.entry-shorturl {
  margin: 0 0 2px;
}

.entry-discussions {
  margin: 0 0 2px;
}

.no-entries-calendar th {
  padding: 2px;
}

.entries-calendar th {
  padding: 2px;
}

#person td
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
    font-size: medium;
}

#person th
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
    background-color: #e0e0e0;
}

#title-center { text-align: center; }

#persons tr:nth-child(2n+1) {
    background: #f6f6f6;
}

#persons td {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
}

#persons th {
    text-align: center;
    background-color: #e0e0e0;
}

.ui-autocomplete.ui-menu { opacity: 0.9; }

.mon, .tue, .wed, .thu, .fri, .sat, .sun { width: 2em; max-width: 3em; }

 #mfd-currency { border: 1px solid #2c87b7; width: 100%; min-width: 268px; white-space: nowrap;}
 .mfd-currency-header { background: #2c87b7; color: #ffffff; font-size: 1em; font-style: normal; font-weight: bold; margin: 0; padding: 0.5em 1em; }
 .mfd-currency-rate { background: #eff6fb; font-weight: bold; }
 .mfd-currency-symbol a { font-size: 1.8em; text-decoration: none; }
 .mfd-currency-table { width: 100%; }
 .mfd-currency-table td { border: none; text-align: center; }
 .mfd-d { color: #ff1110; }
 .mfd-u { color: #199300; }
 .mfd-z { color: #18479b; }

 #mfdTable { border: 0px solid #2c87b7; width: 100%; min-width: 268px;}
 .mfdTable { background-color: #eff6fb; border-collapse: collapse; font-family: Tahoma; font-size: 10px; width: 100%;}
 .mfdTable, .mfdTable a { color: #18479b; }
 .mfdTable, .mfdTable tr { margin: 0; padding: 0; }
 .mfdTable td { border: 1px solid #18479b; margin: 0; padding: 3px 5px; white-space: nowrap; }
 .mfdTickerID { text-align: left; width: 35%; }
 .mfdTickerLast { text-align: right; width: 20%; }
 .mfdTickerTrend { font-size: 8px; text-align: left; width: 35%; }
 .mfdTickerTimestamp { font-size: 8px; text-align: right; width: 10%; white-space: nowrap; }
 .mfdFooter { text-align: right; }
 .mfdDown, .mfdDown a, .mfdDown td { color: #c80000; }
 .mfdUp, .mfdUp a, .mfdUp td { color: #060; }
 .mfdZero, .mfdZero a, .mfdZero td { color: #18479b; }
 .mfd-na { color: #a0a0a0; }
