<div>
    <div>
        {{ weather_info.location.city }}, 
        {% now "j F Y H:m" %}
    </div>
    <div>
        {{ weather_info.current_observation.temp_c }}°c
        {{ weather_info.current_observation.weather }}
        <img src="{{ weather_info.current_observation.icon_url }}" />
    </div>
    <div>
        {{ "Ощущается как" }}
        {{ weather_info.current_observation.windchill_c }}°c
    </div>
    <div>
        {{ "Ветер" }}
        {{ weather_info.current_observation.wind_dir }}
        {{ weather_info.current_observation.wind_ms }}
        {{ "м/с" }}
    </div>
    <div>
        {{ "Влажность" }}
        {{ weather_info.current_observation.relative_humidity }}
    </div>
</div>
