<div>
    <div id="mfd-currency">
    </div>
        {% autoescape off %}
        <script>{{ mfdcurrency }}</script>
        {% endautoescape %}
    <div id="mfdTable">
        {% autoescape off %}
        <script>{{ mfdtable }}</script>
        {% endautoescape %}
    </div>
    <div style='border: solid 1px #617db4; padding: 5px; width: 100%; min-width: 268px'>
       <div style='padding-bottom: 5px; text-align: left; width: 100%;'>
       <a href="http://mfd.ru/marketdata/ticker/?id=1954">RUR</a>
       </div>
       <a href='http://mfd.ru/marketdata/ticker/?id=1954'>
       <img style = "height: 100%; width: 100%;" alt="RUR" src="/media/downloads/mfdimage.png"/>
       </a>
       <div style='text-align: right;'><a href='http://mfd.ru'>mfd.ru</a></div>
    </div>
</div>

